:root {
  --main-font: "Overlock SC", cursive;
  --main-text-color: #ffffff;
  --buttons-color: #2ccc24;
  --buttons-text-color: #000000;
  --shadow-color: #00000027;
  --border-color: #000000;
  --background-color: #3d3c4c;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: var(--main-font);
}

body {
  margin: 0;
  background-image: url(/images/background.jpg);
  background-size: cover;
}

@keyframes crescendo-cards {
  0% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes crescendo-headings {
  0% {
    transform: scale(0.98);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes crescendo-buttons {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

button {
  font-family: inherit;
  text-transform: uppercase;
}

.header {
  margin: 0;
  padding: 6px;
  text-align: center;
  border-bottom: 2px solid var(--border-color);
  box-shadow: 4px 4px 4px 1px var(--shadow-color);
  background-color: var(--background-color);
  color: var(--main-text-color);
}

.main-title {
  text-transform: uppercase;
  font-size: 2.4rem;
  text-shadow: 1px 1px 2px var(--shadow-color);
}

.main {
  margin: 0;
}

.game-screen {
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 1;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  background-color: var(--background-color);
}

.menu-screen {
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 0;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards-container {
  width: 100%;
  height: 420px;
  display: flex;
  justify-content: center;
  background-image: url(/images/background.jpg);
  background-size: cover;
}

.texts-container {
  padding-top: 15px;
  border-top: 3.5px solid var(--border-color);
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  background-color: var(--background-color);
  color: var(--main-text-color);
}

.buttons-container {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: var(--background-color);
  color: var(--main-text-color);
}

.choice-buttons-container {
  display: flex;
  justify-content: center;
}

.menu-buttons-container {
  display: flex;
  justify-content: center;
}

.card {
  margin: 50px;
  width: 15rem;
  height: 22rem;
  border: 6.5px solid var(--border-color);
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
  background-color: #ffffff;
  box-shadow: 14px 14px 14px 2px var(--shadow-color);
  animation: crescendo-cards 3s alternate infinite ease-in;
}

.h2 {
  margin: 0;
  padding: 7px;
  font-size: 1.8rem;
  text-align: center;
  animation: crescendo-headings 1.2s alternate infinite ease-in;
}

.answer {
  margin: 0;
  height: 60px;
  padding-bottom: 6px;
  font-size: 2.5rem;
  text-align: center;
  text-shadow: 1px 1px 15px rgb(255, 255, 255);
}

.button {
  border-radius: 10px;
  font-weight: bold;
  background-color: var(--buttons-color);
  color: var(--buttons-text-color);
  text-align: center;
  box-shadow: 4px 4px 4px 1px var(--shadow-color);
  border: 3px solid var(--border-color);
}

button:hover {
  animation: crescendo-buttons 0.3s alternate infinite ease-in;
}

button:active {
  vertical-align: top;
  padding: 8px 13px 6px;
}
.choice-button {
  margin: 15px;
  width: 260px;
  font-size: 1.3rem;
  padding: 15px;
}
.equal-button {
  width: 130px;
  margin: 13px;
}

.menu-button {
  margin: 15px;
  width: 140px;
  padding: 10px;
}

.start-button {
  width: 200px;
  padding: 12px;
  font-size: 1.6rem;
  background-color: #ffffff;
}

.position-up {
  padding: 14px;
  font-size: 3rem;
  font-family: "Tinos", serif;
  display: flex;
  justify-content: start;
}

.position-middle {
  padding: 20px;
  font-size: 7rem;
  font-family: "Tinos", serif;
  display: flex;
  justify-content: center;
}

.position-down {
  padding: 14px;
  font-size: 3rem;
  font-family: "Tinos", serif;
  display: flex;
  justify-content: start;
  transform: rotate(180deg);
}

.hidden {
  visibility: hidden;
}
