:root {
  --main-font: "Montserrat";
  --buttons-color: #ffffff;
  --shadow-color: #000000b3;
  --border-color: #000000;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: var(--main-font);
}

body {
  margin: 0;
}

button {
  font-family: inherit;
}

.header {
  margin: 0;
  padding: 6px;
  text-align: center;
  border-bottom: 2px solid var(--border-color);
  box-shadow: 4px 4px 4px 1px var(--shadow-color);
}

.main-title {
  text-transform: uppercase;
  text-shadow: 1px 1px 2px var(--shadow-color);
}

.main {
  margin: 0;
}

.game-screen {
  margin: 0;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.menu-screen {
  margin: 0;
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards-container {
  width: 100%;
  height: 420px;
  display: flex;
  justify-content: center;
}

.texts-container {
  padding-top: 15px;
  border-top: 3.5px solid var(--border-color);
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}

.buttons-container {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.choice-buttons-container {
  display: flex;
  justify-content: center;
}

.menu-buttons-container {
  display: flex;
  justify-content: center;
}

.card {
  margin: 50px;
  width: 15rem;
  height: 22rem;
  border: 6.5px solid var(--border-color);
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
  box-shadow: 14px 14px 14px 2px var(--shadow-color);
}

.h2 {
  margin: 0;
  padding: 10px;
  font-size: 1.7rem;
  text-align: center;
}

.answer {
  margin: 0;
  height: 70px;
  padding: 20px;
  text-align: center;
}

.button {
  border-radius: 10px;
  font-weight: bold;
  background-color: var(--buttons-color);
  text-align: center;
  box-shadow: 4px 4px 4px 1px var(--shadow-color);
}
.choice-button {
  margin: 15px;
  width: 260px;
  font-size: 1.3rem;
  padding: 15px;
}
.equal-button {
  width: 130px;
  margin: 13px;
}

.menu-button {
  margin: 15px;
  width: 140px;
  padding: 10px;
}

.position-up {
  padding: 14px;
  font-size: 3rem;
  font-family: "Tinos", serif;
  display: flex;
  justify-content: start;
}

.position-middle {
  padding: 20px;
  font-size: 7rem;
  font-family: "Tinos", serif;
  display: flex;
  justify-content: center;
}

.position-down {
  padding: 14px;
  font-size: 3rem;
  font-family: "Tinos", serif;
  display: flex;
  justify-content: start;
  transform: rotate(180deg);
}

.hidden {
  visibility: hidden;
}
